*{
  margin: 0px;
  padding: 0px;
  height: 970px;
  width: 970px;
}
#container{
  background: linear-gradient(to bottom,#e9e9e9,white);
  height: 970px;
  width: auto;
}
.header1{
  background-color: blue;
  height: 150px;
  width: 970px;
  display: inline-block;
}
.header2{
  background-color: pink;
  height: 150px;
  width: 970px;
  display: inline-block;
}
.navigation{
  background-color: teal;
  height: 150px;
  width: 25%;
}
.advertisement{
  background-image: url(ad_background.png);
  height: 320px;
  width: 25%;
  display: inline-block;
}
.maincontent{
  background-color: grey;
  height: 150px;
  width: 74%;
  margin: auto;
  padding:inherit;
  display: inline-block;
  vertical-align: top;
}
.ender{
  background-color: violet;
  height: 150px;
  width: 100%;
}
}
